.main-journal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-side {
  width: 70%;
  height: 70vh;
  margin-left: 2rem;
  border-right: 1px solid;
}
.left_images {
  width: 90%;
  height: 70vh;
  border-radius: 2rem;
}
.right-side {
  width: 30%;
}

.post {
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 12px;
}
.posts {
  width: 100%;
  height: 70%;
  display: block;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items: center;
  text-align: center;
  gap: 18px;
  cursor: pointer;
}
.dis{
  font-size: small;
}

.img2 {
  width: 200px;
  height: 119px;
  border-radius: 2rem;
  will-change: transform;
  transition: transform 450ms;
  position: relative;
}

.img2:hover {
  transition: transform 450ms;
  transform: translateY(-10px);
}
.dis {
  width: fit-content;
}

@media screen and (max-width: 479px) {
  .main-journal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }
  .left_images {
    margin-top: 2rem;
    width: 80%;
    height: 80%;
    margin-left: 12px;
  }
  .left-side {
    border: none;
    width: 100%;
    margin-top: 156px;
  }
  .right-side {
    width: 80%;
    height: 170vh;
    text-align: center;
  }
  .posts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .post {
    font-size: 25px;
  }
}
